body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background: black;
  overflow: hidden;
  
}
a{
  text-decoration: none;
  color: aliceblue;
}
canvas {
  position: absolute;
  top:0;
  left:0;
  z-index: -1;
}

.heading{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
button {
  color: #bfffaf;
  background: black;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  padding: 15px;
  margin-left:20px;
  margin-right:20px;
  letter-spacing: 1.2px;
  border: 1.7px solid white;
  cursor: pointer;
  border-radius: 4px;
}
.cap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  font-size: 2.2rem;
  letter-spacing: 1px;
  color: aliceblue;

  margin-top: 8vh;
}

button.gh:hover{
  background-color: aliceblue; 
  color: #000000;
  border: 1.7px solid #bfffaf;
}

button.twt:hover{
  background-color: #1DA1F2;
  color: #000000;
  border: 1.7px solid #bfffaf;
} 

.countdown{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}